<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CCS.Classic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <userSettings>
        <CCS.Classic.Properties.Settings>
            <setting name="UID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SessionID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProfileVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RegistrationAESKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SessionKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ContainerName" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerRSAKey" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterAESKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>6</value>
            </setting>
        </CCS.Classic.Properties.Settings>
    </userSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
