<div class="col-sm-2"></div>
<div class="col-sm-8">
    <h1>How to</h1>
    <p>First, you should create an account. Please, use your personal e-mail, not your work mail. There will be a unique code sent to this e-mail, which is required for account confirmation.</p>
    <br/>
    <img src="Images/HowTo/Registration.png" />
    <p>Click "Continue" and then check your mailbox.</p>
    <br/>
    <img src="Images/HowTo/Confirmation.png" />
    <br/>
    <p>Copy the code from the letter and insert it into the "Password" field, then click "Continue".</p>
    <br/>
    <img src="Images/HowTo/RegProfile.png" />
    <p>
        Fill in the information in your profile. You can use your native language.
        <br />
        <img src="Images/HowTo/SelectRole.png" />
    </p>
    <p>Choose the role: 'Driver' or ' Passenger '. Later you can change it in your profile settings.</p>
    <br/>
    <img src="Images/HowTo/InitScreen.png" />
    <p>During the first run, the application will search for your geographical location. You can use your mouse to scroll the map.</p>
    <br/>
    <img src="Images/HowTo/SetCurrentPosition.png" />
    <p>By using the top panel choose your current position on the map.</p>
    <br/>
    <img src="Images/HowTo/SetHome.png" />
    <p>By using top panel pick your home on the map.</p>
    <br/>
    <img src="Images/HowTo/JoinToOrganization.png" />
    <p>On the top panel select the " Organizations" menu then click "Join organization". In the field "Your work e-mail" input your organization`s e-mail, then click "Send a Key". There will be a code send to this e-mail. Note, that this e-mail won’t be stored and will be only used once to confirm that you are an employee of the organization.</p>
    <br/>
    <img src="Images/HowTo/SendOrgKey.png" />
    <p>If you can’t find your organization, please, @Html.ActionLink("register it", "RegisterOrganization")</p>
    <br/>
    <img src="Images/HowTo/SelectOffice.png" />
    <p>By click choose your offiсе. In case you can`t find your office on the map @Html.ActionLink("create it", "CreateOffice")</p>
    <br/>
    <img src="Images/HowTo/WrongOffice.png" />
    <p>If you think that there is a mistake in the name or the address of the office, create a complaint by clicking "Wrong office!" (right button of mouse). The created office will be removed in case 2\3 of the office users vote to remove it.</p>
    <br/>
    <img src="Images/HowTo/MyProfile.png" />
    <p>Check your profile information in the "Profile" menu. Select your preferred payment policy. Switch the role if you want.</p>
    <br/>
    <img src="Images/HowTo/Schedule.png" />
    <p>Check your weekly schedule in the "Schedule" menu. Application will find the potential companions related to your schedule.</p>
    <br/>
    <img src="Images/HowTo/Visibility.png" />
    <p>You can hide/show your profile in "Visibility" menu</p>
    <br/>
    <img src="Images/HowTo/WriteRoutes.png" />
    <p>For drivers. Enable the "route editing" mode in the top menu by clicking on "edit the route" button. Select your preferred route by double clicking and putting the route points on the map. How many points should you put? As many as necessary for your potential companions to understand your route in details. Points will be saved automatically.</p>
    <br/>
    <img src="Images/HowTo/TuneAuto.png" />
    <p>You can put more information about your car in the "Car & Trips" menu.</p>
    <br/>
    <img src="Images/HowTo/FindCompanions.png" />
    <p>You can find passengers by using the top menu. Select the way "to home" or "to work". Drivers will be able to see home addresses of the passengers only. Passengers will be able to see both, the routes of the drivers and theirs own route home.</p>
    <br/>
    <img src="Images/HowTo/DriveToHome.png" />
    <p>You can ask a driver to give you a ride home or to work by clicking the right button.</p>
    <br/>
    <img src="Images/HowTo/Trip.png" />
    <p>Both, driver and walker will see a target point on the map. You can find "departure time" in the points’ tooltip.</p>
    <br/>
    <img src="Images/HowTo/Messages.png" />
    <br/>In the "Messages" a driver and a passenger can talk over the details of the trip.
    <br/>
    <img src="Images/HowTo/TripDetails.png" />
    <p>In "Trips" or "Car & Trips" (for drivers) menu you can also find details about the future trip, confirm/reject a trip and check departure time.</p>
    <br/>

</div>


