<div class='col-sm-2 sidenav'>
</div>
<div class='col-sm-8'>
    <h1>Downloads</h1>
    <ul style="list-style-type:none">
        <li><a href="/api/Download/Download?filename=CCS.classic.msi&subpath=WPF" target="_self" download="CCS.Classic.msi">Classic desktop application</a> (Windows 7 and later)</li>
        <li><a href="/api/Download/Download?filename=RootCA.crt&subpath=CA" target="_self" download="RootCA.crt">Root authority certificate</a> to check sign of an application</li>
        <li><a href="ms-windows-store://pdp/?productid=9pcz98jjp3f9">Microsoft Windows Store</a> (Windows 8.1, Windows 10 (Mobile))</li>
        <li><a href="https://play.google.com/store/apps/details?id=com.ccs.android">Android version</a></li>
    </ul>

    
</div>

<!--<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p>Current count: <strong>{{ currentCount }}</strong></p>

<button (click)="incrementCounter()">Increment</button>
<a href="/api/Download/Download?filename=ccs.classic.application&subpath=WPF" target="_self" download="fds.ru">link</a>-->