<div class="col-sm-2">
    <subnav-menu></subnav-menu>
</div>
<div class="col-sm-8">
    <h1>About</h1>
    <p>Main parts of application are: User (home/routes) - Organization - Office.</p>
    <p>Just set home on map, join organization, find and select your office.</p>
    <div>
        <map name=MicrosoftOfficeMap0>
            <area shape=Polygon
                  coords="576, 505, 552, 553, 576, 601, 639, 601, 663, 553, 639, 505, 576, 505"
                  href="!" title=User>
            <area shape=Polygon
                  coords="485, 555, 461, 603, 485, 651, 548, 651, 572, 603, 548, 555, 485, 555"
                  href="!" title="Weekly actuality">
            <area shape=Polygon
                  coords="394, 507, 370, 555, 394, 603, 457, 603, 481, 555, 457, 507, 394, 507"
                  href="!" title="Weekly schedule">
            <area shape=Polygon
                  coords="553, 330, 529, 378, 553, 426, 616, 426, 640, 378, 616, 330, 553, 330"
                  href="Map" title=Map>
            <area shape=Polygon
                  coords="212, 2, 188, 50, 212, 98, 275, 98, 299, 50, 275, 2, 212, 2"
                  href="Walker" title=Walker>
            <area shape=Polygon
                  coords="670, 145, 646, 193, 670, 241, 733, 241, 757, 193, 733, 145, 670, 145"
                  href="User" title=User>
            <area shape=Polygon
                  coords="582, 196, 558, 244, 582, 292, 645, 292, 669, 244, 645, 196, 582, 196"
                  href="Weekly%20actuality" title="Weekly actuality">
            <area shape=Polygon
                  coords="580, 97, 556, 145, 580, 193, 643, 193, 667, 145, 643, 97, 580, 97"
                  href="Home" title=Home>
            <area shape=Polygon
                  coords="489, 148, 465, 196, 489, 244, 552, 244, 576, 196, 552, 148, 489, 148"
                  href="Weekly%20schedule" title="Weekly schedule">
            <area shape=Polygon
                  coords="489, 47, 465, 95, 489, 143, 552, 143, 576, 95, 552, 47, 489, 47"
                  href="Walker" title=Walker>
            <area shape=Polygon
                  coords="28, 99, 4, 147, 28, 195, 91, 195, 115, 147, 91, 99, 28, 99"
                  href="Weekly%20actuality" title="Weekly actuality">
            <area shape=Polygon
                  coords="256, 505, 232, 553, 256, 601, 319, 601, 343, 553, 319, 505, 256, 505"
                  href="!" title="Target point">
            <area shape=Polygon
                  coords="256, 605, 232, 653, 256, 701, 319, 701, 343, 653, 319, 605, 256, 605"
                  href="!" title=Chat>
            <area shape=Polygon
                  coords="255, 405, 231, 453, 255, 501, 318, 501, 342, 453, 318, 405, 255, 405"
                  href="!" title=Search>
            <area shape=Polygon
                  coords="121, 454, 97, 502, 121, 550, 184, 550, 208, 502, 184, 454, 121, 454"
                  href="!" title="Route points to home">
            <area shape=Polygon
                  coords="27, 404, 3, 452, 27, 500, 91, 500, 115, 452, 91, 404, 27, 404" href="!"
                  title="Route points to work">
            <area shape=Polygon
                  coords="27, 202, 3, 250, 27, 298, 91, 298, 115, 250, 91, 202, 27, 202"
                  href="Weekly%20schedule" title="Weekly schedule">
            <area shape=Polygon
                  coords="486, 455, 462, 503, 486, 551, 549, 551, 573, 503, 549, 455, 486, 455"
                  href="Home" title=Home>
            <area shape=Polygon
                  coords="396, 405, 372, 453, 396, 501, 459, 501, 483, 453, 459, 405, 396, 405"
                  href="!" title=Walker>
            <area shape=Polygon
                  coords="395, 304, 371, 352, 395, 400, 459, 400, 483, 352, 459, 304, 395, 304"
                  href="Office%201" title="Office 1">
            <area shape=Polygon
                  coords="396, 99, 372, 147, 396, 195, 459, 195, 483, 147, 459, 99, 396, 99"
                  href="Office" title=Office>
            <area shape=Polygon
                  coords="303, 51, 279, 99, 303, 147, 367, 147, 391, 99, 367, 51, 303, 51"
                  href="Office" title="Office 2">
            <area shape=Polygon
                  coords="303, 254, 279, 302, 303, 350, 367, 350, 391, 302, 367, 254, 303, 254"
                  href="Organization%201" title="Organization 1">
            <area shape=Polygon
                  coords="304, 152, 280, 200, 304, 248, 367, 248, 391, 200, 367, 152, 304, 152"
                  href="Organization%202" title="Organization 2">
            <area shape=Polygon
                  coords="120, 353, 96, 401, 120, 449, 184, 449, 208, 401, 184, 353, 120, 353"
                  href="!" title="Route to work and back">
            <area shape=Polygon
                  coords="120, 253, 96, 301, 120, 349, 184, 349, 208, 301, 184, 253, 120, 253"
                  href="!" title=Drive>
            <area shape=Polygon
                  coords="121, 152, 97, 200, 121, 248, 184, 248, 208, 200, 184, 152, 121, 152"
                  href="!" title=Home>
            <area shape=Polygon
                  coords="212, 203, 188, 251, 212, 299, 275, 299, 299, 251, 275, 203, 212, 203"
                  href="!" title=User>
        </map><img border=0 width=760 height=704
                   src="Images/image001.png" usemap="#MicrosoftOfficeMap0" />
    </div>
</div>
